<div data-component="wishlist-badge" data-use-proxy-url="false" data-url-wishlist-widget="/pages/wishlist" data-position-widget="right">
    <div data-component="custom-components" data-render-product-card="renderProductCard"></div>
</div>